<h1>Random page</h1>

<button id="randomArticle">Random story</button>

<ul class="random-articles">
  <li id="article-title"></li>
  <ul class="random-articles">
    <li id="article-link"></li>
    <li id="article-description"></li>
  </ul>
</ul>

<script src="/js/client.js"></script>
{{!--
<script src="/js/client.js" defer></script> --}}