<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body})}">

<body>
<h1>Add a New Party!</h1>

<form action="#" th:action="@{/parties}" th:object="${party}" method="POST">
  <div>
    <label th:for="name">Party Name</label>
    <input type="text" th:field="*{name}" />
  </div>

  <div>
    <label th:for="description">Description</label>
    <input type="text" th:field="*{description}" />
  </div>

  <div>
    <label th:for="location">Location</label>
    <input type="text" th:field="*{location}" />
  </div>

  <div>
    <input type="submit" value="Add Party!" />
  </div>
</form>
</body>
</html>