<h2>Tasks to complete today</h2>

<p>Taks Number One: Be Awesome</p>

<img
  src="https://pyxis.nymag.com/v1/imgs/7b6/3d2/a6b022d49b57ad1430245629056879138a-21-mighty-morphin-power-rangers.rhorizontal.w700.jpg"
  width="500">


<ul>

  {{#each tasks }}
  <li>
    {{ this }}
  </li>
  {{/each }}

</ul>