<h1>Add groceries page</h1>
<div>
  <p><a href="/groceries">Groceries Index Page</a></p>
  <form action="/groceries" method="POST">
    <label for="name">Item: <input type="text" id="name" name="name"></label>
    <input type="submit" value="Add item">
  </form>
</div>