<h1>Welcome One and All to the Magical Creatures Website!</h1>
<p>This is a webpage dedicated to all the wonderful mythical creates of the world!</p>

<img src="/images/thunderbird-tattoo-haida-tattoo.jpg" alt="">